/* Styles pour le conteneur principal */
#movie-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styles pour l'image du film */
#movie-img {
    width: 25%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

/* Styles pour le titre */
#movie-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Styles pour la date de sortie */
#movie-release-date {
    font-size: 14px;
    text-align: center;
    color: #888;
}

/* Styles pour la description */
#movie-description {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#movie-realisateurs {
    text-decoration: underline;
    text-align: center;
}

#movie-realisateurs-name {
    list-style-type: none;
    text-align: center;
    margin-right: 30px;
}
