#film-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titre-film {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#date-réalisation-film {
    font-size: 14px;
    text-align: center;
    color: #888;
}

#img-film {
    width: 25%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

#description-film {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#realisateur-film {
    text-decoration: underline;
    text-align: center;
}

#nom-realisateur-film {
    list-style-type: none;
    text-align: center;
    margin-right: 30px;
}
